@import url('reset.css');

@font-face {
    font-family: '源流明體';
    src: url(../../word/genryu-font-master/ttc/GenRyuMin-M.ttc);
}

body{
    font-family: '源流明體',Arial, Helvetica, sans-serif;
}

.outside{
    position: relative;
    padding-top: 80px;
    
}

.outside img{
    width:100%;
}

.pic_buttom{
    position: absolute;
    left: 0;
    bottom: -70px;
}

#center h1{
    font-size: 32px;
    color: rgb(180,102,77);
    margin-bottom: 80px;
    margin-top: 80px;
    text-align: center;
    font-weight: bold;
}

#wrapper{
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;


}

.information{
    background-color: rgb(253,245,245);
    width: 50%;
    margin-right: 30px;
}

.information h2{
    font-size: 24px;
    color:rgb(186,141,22);
    line-height: 4;
    padding-left: 20px;
}

.information p{
    font-size: 20px;
    line-height: 2;
    padding-left: 20px;
}

#map{
    width: 50%;
}

