@import url('reset.css');

@font-face {
    font-family: '源流明體';
    src: url(../../word/genryu-font-master/ttc/GenRyuMin-M.ttc);
}

body{
    font-family: '源流明體',Arial, Helvetica, sans-serif;
}

/* ---------------左邊選單----------------- */
.center_list_pic_word{
    display: flex;
    max-width: 1300px;
    margin: auto;
}

.center_list{
    margin: 180px 180px 50px 100px;
    
}

.center_list h3{
    font-size: 20px;
    color: #575757;
    font-weight: bold;
    margin-bottom: 20px;
}

.center_list li{
    font-size: 20px;
    margin-bottom: 15px;
}

.center_list a{
    text-decoration: none;
    color: black;
}

.center_list a:hover{
    color: rgb(249, 11, 11);
}


/* ---------------右邊照片----------------- */
.big__img{
    padding-top: 160px;
}

.small__img{
    margin-top: 20px;
    display: flex;
    width: 375px;
}

.small__img img{
    flex-grow: 1;
    margin-right:20px;
    width: 80%;
}



/* ---------------右邊商品資訊----------------- */

.center_word{
    margin-left: 50px;
    margin-top: 160px;
    font-size: 18px;
    line-height: 2;
}

.center_word .name{
    color: #BA8D16;
    font-weight: bold;
}
.center_word .price{

    color: rgb(185, 23, 23);
    font-weight: bold;
}

.discribe{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 18px;
    line-height: 2.5;
}

.center_word h3{
    margin-top: 10px;
    margin-bottom: 10px;
}

.center_word ul{
    display: flex;
    margin-left: 11px;
}

.center_word li{
    flex-direction: row;
}

.center_word li a{
    text-decoration: none;
    display: block;
    width: 30px;
    height: 30px;
    background-color: #ccc;
    line-height: 30px;
    text-align: center;
    margin: 10px 15px 10px 10px;
    color: black;
}

.center_word li a:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.center_word .number{
    border: 1px solid #e4e4e4;
    text-align: center;
    width: 120px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.center_word .number input{
    text-align: center;
    width: 50px;
    border: none;
}

.center_word .number .fa-solid{
    color: black;
}

.center_word .number .fa-solid:hover{
    color: rgb(230, 10, 10);
}

.shop_car a{
    display: block;
    text-align: center;
    background-color: #EDA48C;
    color: white;
    border-radius: 50px;
    width: 200px;
    margin: auto;
}

.shop_car a:hover{
    background-color: #000000;
}

/* ---------------中間資訊欄----------------- */

.center{
    background-image: url("../../notice/pic/bg_1.png");
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 750px;
    margin-top: 50px;
}

.center .bg_2{
    max-width: 100%;
    position: absolute;
    bottom: 0%;
}

.information{
    margin-left: 360px;
    padding-top: 70px;
    font-size: 18px;
    line-height: 2;
}

.information p{
    margin-left: 20px;
    margin-bottom: 20px;
}

.information img{
    width: 50%;
}

.bottom{
    padding-bottom: 50px;
}

/* ---------------相關產品----------------- */

.product{
    max-width: 1100px;
    margin: auto;
}

.product h4{
    font-size: 22px;
    color: #B4664D;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

.product ul{
    display: flex;
}

.product ul li{
    flex-direction: row;
    flex-grow: 1;
    margin-left: 25px;
    
}

.product ul li p{
    flex-direction: row;
    flex-grow: 1;
    color: #000000;
    text-align: center;
    width: 222px;
    line-height: 1.6;
    margin-top: 10px;
    margin-bottom: 100px;
}

.product ul li a{
    text-decoration: none;
    display: block;
}

.product ul li p:hover{
    color: red;
}

.category img{
    transform:scale(1,1);transition: all .5s ease-out
}
.category img:hover{
    transform:scale(1.1,1.1);
}

/*--------------------------------*/
.magnifierWrap {
	width: 375px; 
	margin: auto; 
	position: relative;
}
.magnifier {
	width: 150px; 
	height: 150px;
	position: absolute;
	border-radius: 100%;
	box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.85), 
	0 0 7px 7px rgba(0, 0, 0, 0.25), 
	inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
	display: none;
    background: url('../pic/ring/ring_4/Rectangle\ 65.png');
    background-repeat: no-repeat;

}
.smallImg{
    /* position: absolute; */
}