@import url('reset.css');

@font-face {
    font-family: '源流明體';
    src: url(../../word/genryu-font-master/ttc/GenRyuMin-M.ttc);
}

body{
    font-family: '源流明體',Arial, Helvetica, sans-serif;
}

.top_pic{
    background-image: url("../pic/carousel_1.png");
    background-repeat: no-repeat;
    padding-bottom: 700px;
    position: relative;
    background-size: cover;
    background-position: center center;
    width: 100%;
}

.top_pic img{
    width: 100%;
    position: absolute;
    bottom: 0;
}

.center_pic img{
    width: 100%;
}

.new_arrive h3{
    font-size: 32px;
    color: #B4664D;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 80px;
}

.new_arrive ul{
    display: flex;
    margin-top: 50px;
    max-width: 1000px;
    margin: 50px auto;
}
.new_arrive li{
    width: 200px;
    flex-grow: 1;
}

.new_arrive img{
    width: 70%;
}

.new_arrive a{
    display: block;
    text-decoration: none;
    text-align: center;
}

.new_arrive a p{
    background-color:#EDA48C;
    border-radius: 50px;
    width: 120px;
    line-height: 2;
    color: white;
    margin: auto;
}

.new_arrive a p:hover{
    background-color:#000000;
}

.center_pic{
    background-image: url("../pic/center_main.png");
    background-repeat: no-repeat;
    padding-bottom: 700px;
    position: relative;
    background-size: cover;
    background-position: center center;
}

.center_pic .up{
    position: absolute;
    top:0px;
}

.center_pic .down{
    position: absolute;
    bottom:0px;
}


.category{
    margin-top: 50px;
    max-width: 1000px;
    margin: 50px auto;
}

.category ul{
    display: flex;
}

.category li{
    width: 200px;
    flex-grow: 1;
    line-height: 1.6;
}

.category img{
    width: 70%;
}

.category h3,.news_list h4{
    font-size: 24px;
    color: #B4664D;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
    padding-top: 20px;
}

.category a{
    display: block;
    text-decoration: none;
    text-align: center;
}

.category h4{
    font-size: 24px;
    color: #BA8D16;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

.category p{
    font-size: 18px;
    color: #4c4a4a;
}

.category h4:hover{
    color: red;
}

.category p:hover{
    color: red;
}

.word_new{

    text-align: center;
    margin: 100px 0 50px;
}

.word_new p{
    font-size: 18px;
    line-height: 2;
    color: #4c4a4a;
}

.pic_list{
    max-width: 800px;
    margin: auto;
    padding: 50px 0 50px;
}

.pic_list ul{
    display: flex;
}

.pic_list ul li{ 
    margin-left: 20px;
}

.pic_list img{
   width: 70%;
   margin-left: 50px;
}

.pic_list p{
    font-size: 16px;
    text-align: center;
    line-height: 2;
    background-color: #F6F5F0;
    color: #4c4a4a;
 }

 .pic_list .pic1{
    margin-top: 30px;
    padding-bottom: 20px;
    

 }

 .pic_list .pic2{
    margin-bottom: 30px;
    padding-top: 20px;
 }

 .pic{
    position: relative;
 }

 .bag_pic{
    background-image: url('../pic/pic_bag_1.png');
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 142px;
    width: 100%;;
    height: 280px;
    z-index: -1;

 }

 .news_list{
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 150px;
}

.news_list ul{
    display: flex;
    justify-content: center;/*水平對齊*/
    align-items: center;/*垂直對齊*/
}

.news_list li{
    flex-grow: 1;
    text-align: center;
    line-height: 2;
}

.news_list li h5{
    font-size: 20px;
    color: rgb(186,141,22);
}

.news_list li p{
    font-size: 16px;
    color: #4c4a4a;
}

.news_list li a{
    text-decoration: none;
}

.news_list li h5:hover,.news_list li p:hover{
    color: red;
}
