@import url('reset.css');

@font-face {
    font-family: 'custom';
    src: url(../../word/genryu-font-master/ttc/GenRyuMin-M.ttc);
    unicode-range: U+4E00-9FFF;
}

@font-face {
    font-family: 'custom';
    src: url(../../word/english/DancingScript-VariableFont_wght.ttf);
    unicode-range:U+000-5FF;
}

body{
    font-family: 'custom',Arial, Helvetica, sans-serif;
}

.top_pic{
    background-image: url("../pic/carousel_1.png");
    padding-bottom: 200px;
    position: relative;
    background-size: cover;
    background-position: center center;
    max-width: 100%;
    height: 500px;
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;

}
/*------------------圖片淡入特效--------------------*/
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
   
    100% {
      opacity: 1;
    }
  }
   
  @-ms-keyframes fadeIn {
    0% {
      opacity: 0;
    }
   
    100% {
      opacity: 1;
    }
  }
   
  @-o-keyframes fadeIn {
    0% {
      opacity: 0;
    }
   
    100% {
      opacity: 1;
    }
  }
   
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
   
    100% {
      opacity: 1;
    }
  }
   
  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }
   
    100% {
      opacity: 1;
    }
  }


.top_pic_word{
    padding-top:200px;
    width: 70%;
    font-size: 60px;
    color: white;
    line-height: 2;
    margin: 0 auto;
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
}


.top_pic img{
    position: absolute;
    
}

.top_pic_word .num1{
    letter-spacing: 50px;
    
}

.top_pic_word .num2{
    letter-spacing: 10px;
}

.top_pic_word .num3{
    letter-spacing: 50px;
    display: none;
    font-size: 50px;
}

.top_pic_word .num4{
    letter-spacing: 10px;
    display: none;
    font-size: 50px;
}

.top_pic img{
    width: 100%;
    position: absolute;
    bottom: 0;
}

.center_pic img{
    width: 100%;
}

.new_arrive h3{
    font-size: 32px;
    color: #B4664D;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 80px;
    letter-spacing: 10px;
}

.new_arrive ul{
    display: flex;
    margin-top: 50px;
    max-width: 80%;
    margin: 50px auto;
}
.new_arrive li{
    width: 200px;
    flex-grow: 1;
}

.new_arrive img{
    display: block;
    width: 70%;
    margin: 0 auto;
    padding-top: 30px;
    transform:scale(1,1);transition: all .5s ease-out;
}
.new_arrive img:hover{
    transform:scale(1.1,1.1);
}


.new_arrive h6{
    color: #000000;
    line-height: 2;
    font-size: 20px;
    padding-top: 20px;
}

.new_arrive p{
    color: rgb(0, 0, 0);
    line-height: 2;
    font-size: 18px;
    margin-bottom: 15px;
}

.new_arrive a{
    text-decoration:none ;
    text-align: center;
}

.new_arrive li:hover{

    background-color: #eadcdc;
    border-radius: 10px;
}

.center_pic{
    background-image: url("../pic/center_main.png");
    background-repeat: no-repeat;
    padding-bottom: 800px;
    position: relative;
    background-size: cover;
    background-position: center center;
}

.center_pic .up{
    position: absolute;
    top:0px;
}

.center_pic .down{
    position: absolute;
    bottom:-2px;
}


.category{
    margin-top: 50px;
    max-width: 80%;
    margin: 50px auto;
}

.category ul{
    display: flex;
}

.category li{
    width: 200px;
    flex-grow: 1;
    line-height: 1.6;
}

.category img{
    width: 70%;
    transform:scale(1,1);transition: all .5s ease-out;
}

.category img:hover{
    transform:scale(1.1,1.1);
}

.category h3,.news_list h4{
    font-size: 24px;
    color: #B4664D;
    font-weight: bold;
    text-align: center;
    margin-bottom: 130px;
    padding-top: 50px;
    letter-spacing: 5px;
}

.category a{
    display: block;
    text-decoration: none;
    text-align: center;
}

.category h4{
    font-size: 24px;
    color: #BA8D16;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    letter-spacing: 2px;
}

.category p{
    font-size: 18px;
    color: #4c4a4a;
}

.category h4:hover{
    color: red;
}

.word_new{

    text-align: center;
    margin: 120px 0 30px;
    width: 100%;
}

.word_new p{
    font-size: 18px;
    line-height: 2.5;
    color: #4c4a4a;
}

.pic_list{
    max-width: 800px;
    margin: auto;
    padding: 50px 0 50px;
}

.pic_list ul{
    display: flex;
}

.pic_list ul li{ 
    margin-left: 20px;
}

.pic_list img{
   width: 70%;
   margin-left: 50px;
}

.pic_list p{
    font-size: 16px;
    text-align: center;
    line-height: 2;
    background-color: #F6F5F0;
    color: #4c4a4a;
 }

 .pic_list .pic1{
    margin-top: 30px;
    padding-bottom: 20px;
    

 }

 .pic_list .pic2{
    margin-bottom: 30px;
    padding-top: 20px;
 }

 .pic{
    position: relative;
 }

 .bag_pic{
    background-image: url('../pic/pic_bag_1.png');
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 142px;
    width: 100%;;
    height: 280px;
    z-index: -1;

 }

 .news_list{
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 150px;
}

.news_list .owl-carousel .owl-item img{
    width: 80%;
    margin: auto;
}

.news_list ul{
    display: flex;
    justify-content: center;/*水平對齊*/
    align-items: center;/*垂直對齊*/
}

.news_list li{
    flex-grow: 1;
    text-align: center;
    line-height: 2;
}

.news_list li h5{
    font-size: 20px;
    color: rgb(186,141,22);
}

.news_list li p{
    font-size: 16px;
    color: #4c4a4a;
}

.news_list li a{
    text-decoration: none;
}

.news_list span{
    color: #000000;
    font-size: 25px;
}

.news_list span:hover{
    color: red;
}

.news_list li h5:hover{
    color: red;
}

#header .list ul li ol{
    font-family: Arial, Helvetica, sans-serif;
}


  
  .container {
    margin: 0 auto;
    width: 250px;
    height: 200px;
    position: relative;
    perspective: 1000px;
  }

  .container img{
    max-width: 100%;
  }
  
  .carousel {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
  }
  .carousel div {
    transform-style: preserve-3d;
    
  }
  
  .item {
    display: block;
    position: absolute;
    max-width: 250px;
    height: 200px;
    font-size: 5em;
    text-align: center;
    opacity: 0.95;
    border-radius: 10px;
    transition: transform 1s;
}
  
  .a {
    transform: rotateY(0deg) translateZ(250px);
  }
  
  .b {
    transform: rotateY(60deg) translateZ(250px) rotateY(-60deg);
  }
  .c {
    transform: rotateY(120deg) translateZ(250px)  rotateY(-120deg);
  }
  .d {
    transform: rotateY(180deg) translateZ(250px) rotateY(-180deg);
  }
  .e {
    transform: rotateY(240deg) translateZ(250px) rotateY(-240deg);
  } 
  .f {
    transform: rotateY(300deg) translateZ(250px) rotateY(-300deg);
  }
  
  .next, .prev {
    color: #444;
    position: absolute;
    top: 870px;
    padding: 1em 2em;
    cursor: pointer;
    transition: box-shadow 0.1s, top 0.1s;
  }
  .next:hover, .prev:hover { color: red; }
  .next:active, .prev:active {
    top: 870px;

  }
  .next { right: 5em; }
  .prev { left: 5em; }
  
  .item h5, .item p{
      font-size: 16px;
      margin: 0 auto;
      padding-top: 10px;
  }

  .item p{
    font-size: 12px;
    color: #000;
    line-height: 1.6;
}
  
  .container a{
    text-decoration: none;
    color: #BA8D16;
  }

  .container a:hover{
    color: red;
  }

  .smail_logo{
    padding-top: 160px;
  }

  /* ---------RWD輪播關閉----------- */
  .wrapper{
    display: none;
  }




