@media screen and (max-width:428px){

    #container{
        display: none;
    }

    .login-box{
        display: block;
        margin: 80px auto;
    }

    #header .logo_1 {
        padding-left: 40px;
    }

    .icon{
        padding-left: 0;
    }

    .list li:hover ol{
        top: -53px;
        left: 160px;
    }

    #header .list ul li ol{
        position: unset;
    }
    .logo_1 img{
        padding-left: 0;
    }

}