@media screen and (max-width:428px){

    .header_container{
        width: 100vw;;
    }

    .logo_1 img{
        padding-left: 0;
        padding-top:7%;
    }

    .big_pic h1{
        line-height: 210px;
        font-size:15px;
    }

    .logo_3 img{
        width: 45%;
    }

    .logo_3 p{
        font-size: 14px;
        margin-bottom:60px;
    }

    .about{
        flex-direction: column;
    }

    .about img{
        margin:0 auto ;
    }

    h3{
        font-size:23px;
        text-align: center;
        
    }

    .word p{
        font-size: 16px;
        text-align: center;
    }

    .word{
        margin: 0 auto;
    }

    .diversity{
        margin-top: 66px;
    }

    .icon{
        padding-right: 20px;
    }

    .diversity p{
        font-size: 14px;
    }

    #footer{
        font-size: 8px;
    }




}